body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'sans-serif' ,'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.125rem;
  color: #ffffff;
  background-color:black; 
  line-height:1.5;
  display:grid;
  grid-template-rows: min-content 1fr;

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
